<log4net>
  <root>
    <level value="ERROR" />
    <appender-ref ref="ColoredConsoleAppender" />
    <appender-ref ref="file" />
  </root>
  <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
    <mapping>
      <level value="INFO" />
      <foreColor value="White" />
      <backColor value="Red, HighIntensity" />
    </mapping>
    <mapping>
      <level value="INFO" />
      <foreColor value="White" />
      <backColor value="Red, HighIntensity" />
    </mapping>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level %property{XmlFile} %logger %method  %line - %newline %message %exception %newline" />
    </layout>
  </appender>
  <appender name="file" type="log4net.Appender.RollingFileAppender">
    <file value="G:\Epson_Copia_Chiavetta_Gialla2\ToolAggiornato\PosTestWithNunit\XmlFolder" />
    <file type="log4net.Util.PatternString" value="../../../../PosLog.log"/>
    <appendToFile value="false" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="15" />
    <maximumFileSize value="2MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level %property{XmlFile} %logger %method - %line %newline %message %exception %n" />
    </layout>
  </appender>
</log4net>